<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		nCVLb5XqXC6c5kWNaXKeBKp7wK7rMXKnkV010mKjSZc=
		</data>
		<key>appIconHash</key>
		<data>
		so53XoHCLOpOcreD4WKLzC2dN6i/O9D3OMbCbUTaRzI=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
